OPENWEATHER_API_KEY=your_openweather_api_key_here
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=weather_stream
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=weather_streaming
POSTGRES_USER=streaming_user
POSTGRES_PASSWORD=your_password_here
AWS_REGION=eu-west-3
S3_BUCKET=your_bucket_name_here
DELTA_LAKE_PATH=s3a://your_bucket_name_here/delta
